
body {
    background-image: url("../images/starwarsbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#pick_row > div > img {
    width: 80px;

}


h1 {
    font-family:monospace;
}