
body {
    background-image: url("../images/starwarsbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#pick_row > div > div > img {
    width: 20px;
}


.green-border {
    border: solid thin green;
}

.white-border {
    border: solid 10px white;
}


h1 {
    font-family:monospace;
}